---
import { Image } from "astro:assets";

import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
import Underviser from "../components/underviser.astro";
import Logotrustpilot from "../assets/images/trustpilot-logo.webp";
import Trustpilot from "../components/trustpilot.astro";
import piger from "../assets/images/piger.webp";
import Badeferie from "../assets/images/badeferie.webp";
import Dykker from "../assets/images/dykker.webp";
import Teambuild from "../assets/images/teambuild.png";
import Friuger from "../assets/images/friuger.png";
import Naturoplevelser from "../assets/images/naturoplevelse.png";
import Kultur from "../assets/images/kultur.png";
import Friviligt from "../assets/images/friviligtarbejde.png";
import Karrusel from "../components/karrusel.astro";
import Surferpiger from "../assets/images/surferpiger.webp";
import Drenge from "../assets/images/drenge.webp";
import Skydive from "../assets/images/skydive.webp";
import Plus from "../assets/images/+.png";

---

<MainLayout title="Højskolendk">
  <!-- LANDING SEKTION -->

  <section
    class="relative w-full h-screen bg-cover bg-center"
    style="background-image: url('/velkommen.webp');"
  >
    <div class="relative z-10 flex flex-col items-center top-2xl">
      <h1 class=" mt-m text-7xl md:text-9xl">HÖJSKOLENDK</h1>
    </div>

    <div
      class="absolute top-1/2 left-0 md:left-ml right-0
 z-10 flex flex-col items-start justify-center ml-lg mt-8xl"
    >
      <h3 class="mb-xs text-beige-100 md:w-[420px]">
        En rejse for dig og din fremtid - Starter her!
      </h3>

      <Button  variant="desktop_dark_orange" size="large">FIND DIN REJSE »</Button>

<!-- 
      <Button
        label="FIND DIN REJSE »"
        variant="desktop_dark_orange"
        href="/oversigt"
      /> -->
    </div>
  </section>


  <!-- DIT LIVS EVENTYR! -->
  <section class="bg-beige-500 md:p-lg p-xxs pt-xl">
    <div class="p-sm grid grid-cols-1 sm:grid-cols-[2fr_1fr] gap-ml">
      <div class="bg-beige-300 border border-black-50 rounded-md px-s">
        <h2 class="pt-s">DIT LIVS EVENTYR!</h2>
        <p class="md:pt-ml pt-xs">
          HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi
          brænder for oplevelser, fællesskab og mødet med nye mennesker og
          kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.
        </p>
        <p class="pt-xs">
          HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er
          vild med højskole-fællesskab, vil med på et fantastisk rejseeventyr,
          glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk,
          drømmer om en fed grupperejse med andre skønne unge, vil opleve et
          stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning.
          Du er sikker på en tryg rejseoplevelse da vi er medlem af
          Rejsegarantifonden.
        </p>
        <p class="text-orange-500 md:py-ml py-xs">
          Vi glæder os til at lære DIG at kende!
        </p>
      </div>
      <Image
        src={piger}
        alt="Piger der smiler på højskolen"
        class="md:max-w-lg"
      />
    </div>
  </section>

  <!-- Rejseeventyr -->
  <section class="md:p-lg p-xxs my-s md:my-xl">
    <h1 class=" text-center">REJSEEVENTYR</h1>
    <h4 class="text-center">Hvilket ophold passer til dig?</h4>
    <section class="grid md:grid-cols-5 gap-s p-lg">

      
      <Karrusel
        rejsefoto="bil.webp"
        rejsefotoalt="Billede fra rejseophold i Indien, Nepal, Thailand, Vietnam"
        ,
        rejsenavn="Indien, Nepal, Thailand, Vietnam"
        ,
      />

      <Karrusel
        rejsefoto="kina.webp"
        rejsefotoalt="Billede fra rejseophold i Australien, Japan, Bali & Gili Islands"
        ,
        rejsenavn="Australien, Japan, Bali & Gili Islands"
        ,
      />

      <Karrusel
        rejsefoto="pigerdersmiler.webp"
        rejsefotoalt="Billede fra rejseophold i Brasilien, Bolivia, Colombia, Ecuador, Peru"
        ,
        rejsenavn="Brasilien, Bolivia, Colombia, Ecuador, Peru"
        ,
      />

      <Karrusel
        rejsefoto="hawaii.webp"
        rejsefotoalt="Billede fra rejseophold i Costa Rica, Mexico & Colombia"
        ,
        rejsenavn="Costa Rica, Mexico & Colombia"
        ,
      />

      <Karrusel
        rejsefoto="rejsende.webp"
        rejsefotoalt="Billede fra rejseophold i Australien, NZ, Bali & Gili Islands"
        ,
        rejsenavn="Australien, NZ, Bali & Gili Islands"
        ,
      />
    </section>
  </section>

  <!-- infomøde -->
  <section class="md:p-lg p-xxs bg-beige-500 py-lg" id="info">
    <h1 class=" text-center">INFOMØDE</h1>
    <div class="md:px-2xl px-m">
      <p>
        Hvis du drømmer om et fantastisk rejseeventyr med masser af adventure,
        vilde naturoplevelser og spændende kulturmøder så smut forbi et af vores
        hyggelige infomøder i København eller Aarhus – eller mød os på et online
        infomøde.
      </p>
      <p class="font-bold pt-sm">
        Vi præsenterer vores eventyrlige højskole og fortæller en masse om:
      </p>
      <ul class="">
        <li>
          <span class="text-orange-500">&#8226;</span> Hvem er HÖJSKOLENDK
        </li>
        <li>
          <span class="text-orange-500">&#8226;</span> Vores eventyrlige højskoleophold
        </li>
        <li>
          <span class="text-orange-500">&#8226;</span> Adventure, aktiviteter og
          alle de fede oplevelser der venter
        </li>
        <li>
          <span class="text-orange-500">&#8226;</span> En ”almindelig” dag på højskole
          i udlandet
        </li>
        <li>
          <span class="text-orange-500">&#8226;</span> Den levende og aktive måde
          vi underviser på (glem kedelige klasseværelser)
        </li>
        <li>
          <span class="text-orange-500">&#8226;</span> Økonomi, lommepenge, pakkeliste,
          friuger, afrejsemødet, etc.
        </li>
      </ul>
      <p class="py-sm">Vi glæder os til at se dig!</p>

      <div class="">
        <!--  -->
        <div class="grid grid-cols-3 content-end">
          <h5 class="text-orange-500">København</h5>
          <p class="">Studenterhuset, Købmagergade 52 – 1150 København K</p>
          <p class="text-orange-500 font-bold">26. januar 2025 / kl. 17-19</p>
        </div>
        <hr class="py-s" />

        <!--  -->

        <div class="grid grid-cols-3 content-end">
          <h5 class="text-orange-500">Århus</h5>
          <p class="">LYNfabrikken, Vestergade 49B – 8000 Aarhus</p>
          <p class="text-orange-500 font-bold">14. januar 2025 / kl. 17-19</p>
        </div>
        <hr class="py-s" />

        <!--  -->
        <div class="grid grid-cols-3 content-end">
          <h5 class="text-orange-500">Online</h5>
          <div></div>

          <div>
            <p class="text-orange-500 font-bold">
              13. novemer 2024 / kl. 17-19
              <p class="text-orange-500 font-bold">
                21. januar 2025 / kl. 17-19
              </p>
            </p>
          </div>
        </div>
        <hr class="" />
      </div>
      <div class="flex place-content-end pt-sm">
        <Button  variant="desktop_dark_orange" size="medium" href="#infomøde">TILMELD DIG HER</Button>
     <!--    <Button
          label="TILMELD DIG HER"
          variant="desktop_light_orange"
          href="#"
        /> -->
      </div>
    </div>
  </section>

  <!-- trustpilot -->
  <section class="my-xl md:p-m p-xxs">
    <div class="flex flex-col items-center p-sm">
      <h2>ANDMELDELSER FRA TIDLIGERE ELEVER</h2>
      <Image
        src={Logotrustpilot}
        alt="TrustpilotLogo"
        class="md:-mt-2xl -mt-sm w-[140px] md:w-[221px]"
      />
    </div>
    <div
      class="flex flex-row items-center justify-center space-x-s md:-mt-5xl -mt-ml"
    >
      <h4>4,8</h4>
      <!-- stjerner -->
      <div class="flex flex-row">
        <!-- 1 -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          class="w-m h-m md:w-xl md:h-xl"
        >
          <polygon
            points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39"
            fill="gold"
            stroke="goldenrod"
            stroke-width="0"></polygon>
        </svg>
        <!-- 2 -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          class="w-m h-m md:w-xl md:h-xl"
        >
          <polygon
            points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39"
            fill="gold"
            stroke="goldenrod"
            stroke-width="0"></polygon>
        </svg>
        <!-- 3 -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          class="w-m h-m md:w-xl md:h-xl"
        >
          <polygon
            points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39"
            fill="gold"
            stroke="goldenrod"
            stroke-width="0"></polygon>
        </svg>
        <!-- 4 -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          class="w-m h-m md:w-xl md:h-xl"
        >
          <polygon
            points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39"
            fill="gold"
            stroke="goldenrod"
            stroke-width="0"></polygon>
        </svg>
        <!-- 5 -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          class="w-m h-m md:w-xl md:h-xl"
        >
          <polygon
            points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39"
            fill="gold"
            stroke="goldenrod"
            stroke-width="0"></polygon>
        </svg>
      </div>
      <h4>(100)</h4>
    </div>

    <!--       <div class="grid md:grid-cols-4 gap-x-s p-ml">
-->
    <!-- william -->
    <div
      class="trust grid md:grid-cols-4 gap-x-s p-ml overflow-x-auto md:overflow-visible"
    >
      <Trustpilot
        elevfoto="Card/william.png"
        ,
        elevalt="William D. Birch profilbillede"
        ,
        elevnavn="William D. Birch"
        ,
        dato="22 jun. 2024"
        ,
        elevanmeldelse="Hvis man gerne vil ud og rejse, men også vil møde nogle nye mennesker. Så vil jeg helt klart anbefale Höjskolendk. Jeg havde den fedeste tur fra Januar til april måned i 2024 på turen som hedder, Hawaii, Australien, Japan, Bali og Gili."
        ,
      />

      <!-- mikkel  -->
      <Trustpilot
        elevfoto="Card/mikkel.png"
        ,
        elevalt="Mikkel profilbillede"
        ,
        elevnavn="Mikkel Berg"
        ,
        dato="20 jun. 2024"
        ,
        elevanmeldelse="Jeg var på turen Hawaii, Australien, Japan, Bali og Gili i foråret 2024 - sikke en oplevelse! Selve rejsen var godt planlagt med fede aktiviteter og udflugter, som man ikke nødvendigvis kunnet ha’ arrangeret, hvis man rejste på egen hånd."
        ,
      />

      <!-- Dicte Jørgensen -->
      <Trustpilot
        elevfoto="Card/dicte.png"
        ,
        elevalt="Dicte Jørgensen profilbillede"
        ,
        elevnavn="Dicte Jørgensen"
        ,
        dato="20 jun. 2024"
        ,
        elevanmeldelse="At have rejst verden rundt med höjskolendk, har uden tvivl været en af de bedste beslutninger nogensinde! At rejse rundt med så mange unge mennesker, og nogle fantastiske rejseledere gør, at man ser verden og de forskellige kulturer på en helt anden måde."
        ,
      />

      <!--  -->
      <Trustpilot
        elevfoto="Card/signe.png"
        ,
        elevalt="Signe N. Christensen profilbillede"
        ,
        elevnavn="Signe Christensen"
        ,
        dato="20 jun. 2024"
        ,
        elevanmeldelse="Höjskolendk giver en tryg og sikker rejseform. Man har altid sine rejseledere at læne sig op ad, hvilket er skønt når man ikke har særlig meget erfaring med verden uden for Danmark. På samme tid skaber man venskaber for livet, som virkelig er en gave i sig selv!"
        ,
      />
    </div>
  </section>

  <!-- REJSE HØJSKOLE + HØJSKOLEOPHOLD I UDLANDET -->
  <section class="bg-beige-500 md:p-lg p-xxs pt-xl">
    <div class="p-sm grid grid-cols-1 sm:grid-cols-[1fr_2fr] gap-ml">
      <Image
        src={Badeferie}
        alt="Piger der smiler på højskolen"
        class="md:max-w-md"
      />
      <div class="bg-beige-300 border border-black-50 rounded-md px-sm">
        <h2 class="pt-s">REJSE HØJSKOLE</h2>
        <p class="md:pt-m pt-s">
          Der venter dig et unikt rejseeventyr når du tager på højskole i
          udlandet, med et stærkt sammen-hold og fede rejseoplevelser. Med
          udgangspunkt i højskolens to grundværdier fællesskab og dannelse, kan
          du på højskole i udlandet bruge din sabbatår rejse på fx frivilligt
          arbejde, vilde adventure- og naturoplevelser, lære sprog og spændende
          personlig udvikling der giver dig mere selvtillid, selvindsigt og
          selvværd. Glæd dig også til inspirerende undervisning, der levende og
          aktivt forener det lærende med det legende.
        </p>
        <p class="pt-s">
          Vores elever beskriver HÖJSKOLENDK som ”eventyrlige dannelsesrejser
          med noget på hjerte”. Udover det fantastiske rejseeventyr handler
          vores højskoleophold i udlandet om dine drømme, mål og ønsker for
          livet. På inspirerende og aktiv vis flytter du dine grænser og bliver
          en endnu stærkere udgave af dig selv. Vi tror på, at du kommer hjem
          med mere mod på alt hvad livet byder dig og er mere afklaret omkring
          hvad en meningsfuld fremtid er for dig.
        </p>
        <p class="py-s">
          Tag på højskole i udlandet hvis du har du lyst til at opleve verden,
          udleve dine rejsedrømme i et skønt fællesskab, blive inspireret af
          dygtige og engagerede undervisere og få et eventyr for livet.
        </p>
      </div>
    </div>

    <div class="p-sm grid grid-cols-1 sm:grid-cols-[2fr_1fr] gap-ml">
      <div class="bg-beige-300 border border-black-50 rounded-md px-sm">
        <h2 class="pt-s">HØJSKOLEOPHOLD I UDLANDET</h2>
        <p class="md:pt-m pt-s">
          Når du rejser på højskole i udlandet med HÖJSKOLENDK.
        </p>

        <ul class="py-s">
          <li>
            <span class="text-orange-500">›</span> Bliver du en del af et fantastisk
            fællesskab med et stærkt sammenhold
          </li>
          <li>
            <span class="text-orange-500">›</span> Får du masser af vilde naturoplevelser,
            adventure og spændende kulturmøder
          </li>
          <li>
            <span class="text-orange-500">›</span> Opdager du nye og stærke sider
            af dig selv, flytter grænser og får mere selvtillid
          </li>
          <li>
            <span class="text-orange-500">›</span> Rejser du altid med danske passionerede
            rejseledere og engagerede undervisere
          </li>
          <li>
            <span class="text-orange-500">›</span> Får du et uforglemmeligt, unikt
            og trygt rejseeventyr for livet
          </li>
        </ul>

        <p class="py-s">
          Gå på opdagelse her på siden efter dit livs eventyr – på højskole i
          udlandet med HÖJSKOLENDK.
        </p>
        <p class="py-s">
          Med vores unikke kombination af højskole, grupperejser, rejseeventyr,
          frihed, kulturmøder og spændende undervisning, vil vi inspirere dig
          til at finde ind til hvad der er vigtigst for dig i livet – hvad du
          virkeligt brænder for og kan mærke er meningsfuldt – så du kan
          forfølge dine drømme.
        </p>
      </div>
      <Image
        src={Dykker}
        alt="Piger der smiler på højskolen"
        class="md:max-w-md"
      />
    </div>
  </section>

  <!-- rejsedagbog -->
  <section class="my-s md:my-xl  md:p-lg p-xxs">
    <h1 class=" text-center">REJSEDAGBOG</h1>
    <!-- Stine -->
    <div class="grid md:grid-cols-3 grid-cols-2 place-items-center gap-xxs">
      <div class="flex flex-col">
        <h4 class="text-orange-500">Stine R.</h4>
        <p class="md:w-[275px]">
          Læs om Stine R.’s ophold på Caribien, Hawaii & Mexico hvor hun surfede
          og oplevede den flotte kultur.
        </p>
      </div>
      <Image src={Surferpiger} alt="Piger der Sufer " class="md:max-w-md" />

      <div class="hidden md:block" ></div>

    </div>
    <!-- Mathias -->
    <div class="grid md:grid-cols-3 grid-cols-2 place-items-center gap-xxs mt-sm md:-mt-lg">
      <div class="hidden md:block"></div>
      <Image src={Drenge} alt="Drenge" class="md:max-w-md" />
      <div class="flex flex-col">
        <h4 class="text-orange-500">Mathias V.</h4>
        <p class="md:w-[275px]">
          Læs om Mathias Viberg’s rejse ophold til Australien, New Zealand, Bali
          & Gili Islands, hvor han bestigede forskellige bjerge og oplevede
          vilde naturoplevelser.
        </p>
      </div>
    </div>
    <!-- Sofie -->
    <div class="grid md:grid-cols-3 grid-cols-2 place-items-center gap-xxs mt-sm md:-mt-lg">
      <div class="flex flex-col">
        <h4 class="text-orange-500">Sofie H. J.</h4>
        <p class="md:w-[275px]">
          Læs om Sofie H. J.’s ophold i Indien, Nepal, Thailand, Vietnam & Sri Lanka, hvor hun skydivede og fik andre vilde oplevelser med hjem i rygsækken. 
        </p>
      </div>
      <Image src={Skydive} alt="Piger der Skydiver " class="md:max-w-md" />

      <div class="hidden md:block"></div>
    </div>


  </section>

  <!-- billede med tilmeld -->
  <section class="">
    <div
      class="bg-img bg-no-repeat bg-cover bg-center w-full h-[620px] relative"
      style="background-image: url('hopDrenge.webp');"
    >
      <!-- Content can go here -->

      <div
        class="w-full h-2/5 md:w-2/5 md:h-full bg-opacity-50 bg-blue-500 p-sm absolute bottom-[0px] right-[0px]"
      >
        <div class="md:mt-9xl mt-xxs">
          <h4 class="text-beige-50 pb-m">
            Hvis du er afklaret og klar på <span class="font-bold"
              >højskoleeventyr</span
            >, er det bare med at <span class="font-bold">tilmelde dig</span>.
            Der bliver nemlig udsolgt på langt de fleste af vores ophold.
          </h4>
          <Button  variant="desktop_dark_orange" size="medium"  href="/oversigt">TILMELD DIG OPHOLD</Button>

<!--           <Button
            label="TILMELD DIG OPHOLD"
            variant="desktop_light_orange"
            href="/oversigt"
          /> -->
        </div>
      </div>
    </div>
  </section>

  <!-- underviser -->
  <section class="md:p-lg p-xxs pt-xl">
    <h2 class="text-center">MØD VORES REJSEGUIDES</h2>
    <!-- cards -->
    <div class="grid md:grid-cols-5 grid-cols-2 md:gap-m gap-s md:p-ml p-sm">
      <Underviser
        underviserfoto="underviser/louise.webp"
        underviserfotoalt="Underviser Louise s. bruun"
        ,
        undervisernavn="Louise s. Bruun"
        ,
        underviserinfo="Kontor, rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/asta.webp"
        underviserfotoalt="Underviser Asta Nørby Dahl"
        ,
        undervisernavn="Asta Nørby Dahl"
        ,
        underviserinfo="Digital Media Manager"
        ,
      />

      <Underviser
        underviserfoto="underviser/andreas.webp"
        underviserfotoalt="Underviser Andreas Laforcel"
        ,
        undervisernavn="Andreas Laforcel"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/henrik.webp"
        underviserfotoalt="Underviser Henrik Hjørnevik"
        ,
        undervisernavn="Henrik Hjørnevik"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/signe.webp"
        underviserfotoalt="Underviser Signe A. Westh"
        ,
        undervisernavn="Signe A. Westh"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/anne.webp"
        underviserfotoalt="Underviser Anne Nørkjær"
        ,
        undervisernavn="Anne Nørkjær"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/sarah.webp"
        underviserfotoalt="Underviser Sarah Grønager"
        ,
        undervisernavn="Sarah Grønager"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/christian.webp"
        underviserfotoalt="Underviser Christian Frydkjær"
        ,
        undervisernavn="Christian Frydkjær"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/mattias.webp"
        underviserfotoalt="Underviser Mattias Yde"
        ,
        undervisernavn="Mattias Yde"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/jakob.webp"
        underviserfotoalt="Underviser Jakob Abu-Khalil"
        ,
        undervisernavn="Jakob Abu-Khalil"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/SarahP.webp"
        underviserfotoalt="Underviser Sarah Pope"
        ,
        undervisernavn="Sarah Pope"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/AnneK.webp"
        underviserfotoalt="Underviser Anne K. Mathiasen"
        ,
        undervisernavn="Anne K. Mathiasen"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/AnneKP.webp"
        underviserfotoalt="Underviser Anne Kathrine Grove"
        ,
        undervisernavn="Anne Kathrine Grove"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/Alexander.webp"
        underviserfotoalt="Underviser Alexander Poulsen"
        ,
        undervisernavn="Alexander Poulsen"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />

      <Underviser
        underviserfoto="underviser/frederik.webp"
        underviserfotoalt="Underviser Frederik Bruun"
        ,
        undervisernavn="Frederik Bruun"
        ,
        underviserinfo="Rejseleder og underviser"
        ,
      />
    </div>
  </section>

  <!-- info/SEO tekst -->
  <div class="md:p-sm p-xxs bg-beige-500">
    <section
      class="container mx-auto bg-beige-100 md:m-lg m-m md:p-ml p-s rounded-lg"
    >
      <details class="bg-beige-100">
        <summary
          class="list-none flex flex-wrap items-center cursor-pointer text-orange-500"
        >
              <Image src={Plus} alt="+ " class="md:max-w-[50px]" />

          <h3 class="flex flex-1 p-4 font-semibold ml-m">
            Højskole i udlandet for unge mennesker
          </h3>
        </summary>
        <div class="p-lg">
          <p class="py-xs">
            Drømmer du om at rejse på højskole i udlandet for unge? Når du
            rejser med HÖJSKOLENDK, får du dit livs eventyr og vi garanterer dig
            masser af fællesskab, fantastiske oplevelser og meningsfuld læring.
            Et højskoleophold i udlandet er noget, du bare skal prøve mindst én
            gang i dit liv – du vil aldrig fortryde, at du tog afsted. Og du kan
            glæde dig til nye venskaber og oplevelser for livet.
          </p>
          <p class="py-xs">
            Med HÖJSKOLENDK kan du komme på rejsende højskole i stort set alle
            hjørner af verdenen. Drømmer du om smukke og vilde naturoplevelser
            på Bali, Hawaii, Maldiverne eller i Australien? Storbyseventyr i New
            York, Sydney, Tokyo, Bangkok eller Rio de Janeiro? Kulturelle
            oplevelser og autentiske menneskemøder i Indien, Bolivia, Sri Lanka,
            Japan eller Mexico? Fede adventure aktiviteter med masser af
            adrenalin i New Zealand, Nepal, Ecuador eller Costa Rica? Vælg
            mellem et af vores fantastiske højskoleophold i udlandet og lad
            verden gøre dig endnu mere nysgerrig.
          </p>
          <p class="py-xs">
            Du rejser altid med andre unge mennesker på din egen alder og danske
            rejseledere og undervisere. På højskolerejsen kommer du ikke kun til
            at opleve og forstå andre spændende kulturer. Rejserne giver også et
            unikt indblik i dig selv, så du kommer hjem med mere selvtillid og
            selvværd og står endnu stærkere som menneske.

            <p class="py-xs">
              At rejse med en højskole er ikke blot et eventyr ud i verden – det
              er også en spændende rejse i forhold til dig og din personlige
              udvikling.
            </p>
          </p>
        </div>
      </details>
    </section>

    <section
      class="container mx-auto bg-beige-100 md:m-lg m-m md:p-ml p-s rounded-lg"
    >
      <details class="bg-beige-100">
        <summary
          class="list-none flex flex-wrap items-center cursor-pointer text-orange-500"
        >
        <Image src={Plus} alt="+ " class="md:max-w-[50px]" />

          <h3 class="flex flex-1 p-4 font-semibold ml-m">
            Uforglemmeligt højskoleophold i udlandet
          </h3>
        </summary>
        <div class="p-lg">
          <p class="py-xs">
            HÖJSKOLENDK tilbyder alverdens skønne rejser og ophold og du kan
            både komme på højskoleophold i udlandet i løbet af året eller på
            højskole i udlandet i sommerferien. Begge muligheder er enormt
            populære blandt vores skønne højskoleelever.
          </p>
          <p class="py-xs">
            Højskoleophold i sommerferien er typisk kortere og varer ca. 5 uger.
            På de højskole rejser oplever du flere lande og forskellige kulturer
            og traditioner, langt fra det danske vi kender. Det er et oplagt
            eventyr til dig, der gerne vil ud og rejse, møde andre unge
            mennesker og udvikle dig som menneske i løbet af din sommerferie,
            inden du fx starter på nyt studie eller job.
          </p>
          <p class="py-xs">
            Vores højskoleophold i løbet af året varer mellem 2-3 måneder. De
            rejser er oplagt for dig, der holder sabbatår og gerne vil ud og
            opleve verdenen hvor du udvikler dig selv på et personligt plan.

            <p class="py-xs">
              Tag på højskole i udlandet med andre og få en uforglemmelig
              oplevelse. Vi tør godt love dig, at det bliver dit livs eventyr!
            </p>
          </p>
        </div>
      </details>
    </section>

    <section
      class="container mx-auto bg-beige-100 md:m-lg m-m md:p-ml p-s rounded-lg"
    >
      <details class="bg-beige-100">
        <summary
          class="list-none flex flex-wrap items-center cursor-pointer text-orange-500"
        >
        <Image src={Plus} alt="+ " class="md:max-w-[50px]" />

          <h3 class="flex flex-1 p-4 font-semibold ml-m">
            En rejse højskole fyldt med oplevelser
          </h3>
        </summary>
        <div class="p-lg">
          <p class="py-xs">
            Vil du gerne på højskole i udlandet, tilbyder vi de mest attraktive
            højskoleophold i udlandet, hvor du besøger flere skønne og spændende
            lande og deltage i spændende og inspirerende undervisning og
            alverdens fede aktiviteter.
          </p>
          <h5 class="py-xs">Din højskole rejse kan blandt andet indeholde:</h5>

          <div class="grid sm:grid-cols-[1fr_10fr]">
            <Image src={Teambuild} alt="symbol" class="" />
            <div>
              <h5 class="pb-xs">Teambuilding</h5>
              <p class="pb-s">
                Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse
                ud i verden og udvikle dig samtidig? Du rejser sammen med andre
                unge voksne og lærer en hel masse om samarbejde, relationer,
                fællesskab, konflikter, styrker og stærke teams. Du får ikke
                blot rejse-erfaring på cv’et, men også et væld af brugbare
                redskaber til studie eller karriere.
              </p>
            </div>
          </div>

          <hr class="py-xs" />

          <div class="grid sm:grid-cols-[1fr_10fr]">
            <Image src={Friviligt} alt="symbol" class="" />
            <div>
              <h5 class="pb-xs">Frivilligt arbejde & Kulturforståelse</h5>
              <p class="pb-s">
                Drømmer du om at lave frivilligt arbejde og gøre en forskel i et
                andet land? Mange af vores højskole rejser inkluderer frivilligt
                arbejde, hvor vi kommer helt tæt på de lokale. Det giver dig en
                unik indsigt i landet, større forståelse for kulturen og måden
                man lever på i de forskellige lande.
              </p>
            </div>
          </div>

          <hr class="py-xs" />

          <div class="grid sm:grid-cols-[1fr_10fr]">
            <Image src={Friuger} alt="symbol" class="" />
            <div>
              <h5 class="pb-xs">Friuger – et væld af muligheder</h5>
              <p class="pb-s">
                Efter spændende og lærerige undervisningsforløb, har vi – alt
                efter hvilken højskole rejse du vælger – lagt én eller flere
                friuger ind. Her har I mulighed for selv at tage styringen og
                udforske dét land, kontinent eller ø-rige vi befinder os i.
                Friugerne bliver brugt på forskellig vis og oftest deler holdet
                sig op i lidt mindre grupper for at tage på eventyr – andre
                gange rejser hele holdet sammen på en fed friuge.
              </p>
            </div>
          </div>

          <hr class="py-xs" />

          <div class="grid sm:grid-cols-[1fr_10fr]">
            <Image src={Kultur} alt="symbol" class="" />
            <div>
              <h5 class="pb-xs">Spændende kulturoplevelser</h5>
              <p class="pb-s">
                Kulturen er vigtig at opleve, når man befinder sig i et nyt
                land. Det giver dig både nogle rigtigt spændende oplevelser og
                menneske-møder, men også en unik indsigt, du ikke kan læse dig
                til i en bog eller se i et rejseprogram. På vores højskole ture
                kan du opleve alt fra ældgamle Hindu-templer i Indien,
                surf-kulturen på Hawaii, Mayaindianerne i Guatemala, de gamle
                inkaruiner i Mexico, buddhisme i Thailand, te-plantager i Sri
                Lanka og kakao-farme i Costa Rica.
              </p>
            </div>
          </div>

          <hr class="py-xs" />

          <div class="grid sm:grid-cols-[1fr_10fr]">
            <Image src={Naturoplevelser} alt="symbol" class="" />
            <div>
              <h5 class="pb-xs">Vilde naturoplevelser</h5>
              <p class="pb-s">
                Ingen rejse ud i verden uden eventyrlige og vilde
                naturoplevelser. Mange af de destinationer, hvor vi tager på
                højskoleophold, byder på enestående og overdådig natur. Det kan
                være alt fra snorkleture i Caribien, river rafting i Thailand,
                spotte brøleaber i Costa Ricas regnskove, gå på opdagelse i
                Inka-ruinerne i Mexico, trekke i Himalayas bjerge i Nepal, sejle
                kajak i marine nationalparker, dykke med manta rays på Hawaii,
                vandre i New Zealands fabelagtige nationalparker eller tage på
                safari i Sri Lanka og se leoparder, elefanter og bjørne. Alle
                vores rejser er fyldt med storslåede oplevelser, som du aldrig
                vil glemme.
              </p>
            </div>
          </div>
        </div>
      </details>
    </section>
  </div>

</section>

  <Intromoede />
</MainLayout>

<style>
  /* Flexbox horisontal scrol mobile og tablet*/
  .trust {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
  }

  /* desktop*/
  @media (min-width: 1298px) {
    .trust {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow-x: visible;
    }
  }
</style>
