---
import Button from "../components/Button.astro"; // Import button component
import { Image } from "astro:assets";
import Plus from "../assets/images/+.png";

import cardVelkommen from "../assets/images/cardVelkommen.webp";




/* export interface Props {
  label: string; // Text displayed on the button
  variant: "desktop_dark_orange" | "desktop_light_orange" | "desktop_blue"; // Three button styles
  href?: string; // Optional: Use for links
} */

const {
  destination = "",
  pris = "",
  varighed = "",
  Introdage = "",
  Måned1 = "",
  Måned2 = "",
  Måned3 = "",
} = Astro.props;
---

<!-- Content -->
<div class="container mx-auto bg-beige-500 m-xl p-sm md:p-ml rounded-lg">
  <details class="bg-beige-500 p-xxs">
    <summary
      class="list-none flex flex-wrap items-center cursor-pointer hover:text-orange-500"
    >
    <div class="md:block hidden ">
    <Image src={Plus} alt="+ " class="md:max-w-[50px]" />
  </div>
      <h2 class="md:flex flex-1  md:text-5xl font-semibold  md:ml-m">
        {destination}
      </h2>
    </summary>
    <div
      class="flex flex-row items-start justify-between md:flex-row md:m-m bg-beige-50 p-xs md:p-sm rounded-md"
    >
      <!-- Information Section -->
      <div class="ml-10">
        <div class="mb-s">
          <p>
            <strong>Pris:</strong>
            <span class="text-orange-500 font-bold">{pris}</span>
          </p>
          <p><strong>Varighed:</strong> {varighed}</p>
        </div>

        <h3 class="text-lg font-semibold text-orange-500  py-xxs ">Information om turen:</h3>
        <ul class="pb-sm gap-x-xs">
          <li class="mb-xxs"><strong>Introdage:</strong>{Introdage}</li>
          <li class="mb-xxs"><strong>Måned 1:</strong> {Måned1}</li>
          <li class="mb-xxs">
            <strong>Måned 2:</strong>
            {Måned2}
          </li>
          <li class="mb-xxs">
            <strong>Måned 3:</strong>
            {Måned3}
          </li>
        </ul>



        
        <p class="pt-xxs">
          <strong>Afrejse:</strong><span class="text-black-400">  ✈️ Flybillet tur/retur er inkluderet.</span>
        </p>

        <p class="mt-2">
          <ul>
            <li class="mb-xxs">
              20. Okt 2024 <strong class="text-orange-500"
                >2 pladser tilbage</strong
              >
            </li>
          </ul>
        </p>

        <!-- Tilføjelse af knapper-->
        <div class="pt-xxs flex flex-col md:flex-row gap-s">
          <Button  variant="desktop_light_orange" size="small">NOTIFIKATIONER OM OPHOLDET</Button>
          <Button  variant="desktop_blue" size="small" href="/#info">INFOMØDE</Button>
          <Button variant="desktop_dark_orange" size="small" href="/singleview">LÆS MERE</Button>


       <!--    <Button
            label="NOTIFIKATIONER OM OPHOLDET"
            variant="desktop_dark_orange"
            href="#"
          />
          <Button label="INFOMØDE" variant="desktop_light_orange" href="#" />
          <Button label="LÆS MERE" variant="desktop_blue" href="/singleview" /> -->
        </div>
      </div>

      <!-- Image Section -->
      <div class="pl-5xl md:block hidden">
        <Image src={cardVelkommen} alt="rejsende " class="" />

      </div>
    </div>
  </details>
</div>
